*,
::after,
::before {
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    margin: 0;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: x-large;
}

a, a:visited {
    color: #FFFFFF;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100%;

    background: url('/temperinho-do-cheff/images/background.jpg') center center / cover no-repeat;
}

.container__content {
    width: 100%;

    background: #212529f2;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 4rem;
}

.whatsapp-ico {
    width: 100px;
    margin-bottom: 10px;
}

.message {
    font-size: 1.5rem;
}

.message__actions {
    margin: 2rem 0;
}

.message-link {
    display: flex;
    justify-content: center;
}

.social-media__instagram {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.social-media__instagram .icon {
    fill: #B6111D;
    width: 30px;
    height: 30px;
    vertical-align: sub;
    margin-right: 10px;
}

.social-media__instagram .link {
    padding: 1rem;
}

.footer {
    text-align: center;
    font-size: 1rem;
}
